.heading h2,
.heading p {
    font-weight: 700;
}

.heading p {
    font-size: 1.5rem;
}

.heading1 {
    margin-top: 4rem;
}

.card-caption {
    font-weight: 300;
    margin-bottom: 0;
    font-size: 0.75rem;
}

.card-summary {
    font-weight: 500;
    color: #212529;
    font-size: 1.125rem;
}

.card-summary:hover {
    color: #858585;
}